<footer class="bottom-0 w-100 pa3 pa4-ns" role="contentinfo">
    <div class="mw8 center">
        <div class="flex flex-wrap justify-between items-start pb3 bb b--white-20">
            <div class="pv2 ph3 w-100 w-third-l">
                <div class="f5 fw6 white mb2">{{ .Site.Title }}</div>
                <div class="f6 white-60 lh-copy">
                    Hochschulring, Parkplatz Nord<br>
                    D-28359 Bremen<br>
                    <a class="white-70 no-underline" href="mailto:info@bremerwindsurfing.de">info@bremerwindsurfing.de</a>
                </div>
            </div>
            <div class="pv2 ph3 w-50 w-third-l">
                <div class="f6 fw6 white ttu tracked mb2">Seiten</div>
                {{ range .Site.Menus.main }}
                {{ if ne .Name "Start" }}
                <a class="f6 fw4 db white-60 no-underline pv1" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
                {{ end }}
            </div>
            <div class="pv2 ph3 w-50 w-third-l">
                <div class="f6 fw6 white ttu tracked mb2">Links</div>
                <a class="f6 fw4 db white-60 no-underline pv1" href="https://www.windfinder.com/forecast/bremen_stadtwaldsee" target="_blank" rel="noopener">Windfinder</a>
                <a class="f6 fw4 db white-60 no-underline pv1" href="https://www.facebook.com/windsurfenbremen" target="_blank" rel="noopener">Facebook</a>
                <a class="f6 fw4 db white-60 no-underline pv1" href="https://www.google.de/maps/place/Bremer+Windsurfing+Club/@53.1119616,8.8229816,17z" target="_blank" rel="noopener">Google Maps</a>
                <a class="f6 fw4 db white-60 no-underline pv1" href="http://www.surfshop-charchulla.de/" target="_blank"
                    rel="noopener">Surfshop Charchulla</a>
            </div>
        </div>
        <div class="flex flex-wrap justify-between items-center pt3">
            <div class="f7 white-40 ph3">&copy; {{ now.Format "2006" }} {{ .Site.Title }}</div>
            <div class="ph3">
                <a class="f7 fw4 white-40 dib ph2 no-underline" href="{{ "kontakt/#impressum" | relURL }}">Impressum</a>
                <a class="f7 fw4 white-40 dib ph2 no-underline" href="{{ "kontakt/#datenschutz" | relURL }}">Datenschutz</a>
            </div>
        </div>
    </div>
</footer>
