<footer class="bg-near-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex flex-wrap justify-between mw8 center">
    <div class="f5 fw4 white-70 pv2 ph3">
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}<br>
      <span class="f6">Hochschulring, Parkplatz Nord &middot; D-28359 Bremen</span>
    </div>
    <div class="pv2 ph3">
      <a class="f6 fw4 hover-white white-70 dib ph2 no-underline" href="/kontakt/#impressum">Impressum</a>
      <a class="f6 fw4 hover-white white-70 dib ph2 no-underline" href="/kontakt/#datenschutz">Datenschutz</a>
      <a class="f6 fw4 hover-white white-70 dib ph2 no-underline" href="mailto:info@bremerwindsurfing.de">E-Mail</a>
      <a class="f6 fw4 hover-white white-70 dib ph2 no-underline" href="https://www.facebook.com/windsurfenbremen" target="_blank" rel="noopener">Facebook</a>
      <a class="f6 fw4 hover-white white-70 dib ph2 no-underline" href="https://www.google.de/maps/place/Bremer+Windsurfing+Club/@53.1119616,8.8229816,17z" target="_blank" rel="noopener">Maps</a>
    </div>
  </div>
</footer>
